html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

h1,
h2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(199, 198, 198, 0.733);
}

body {
  padding: 1.25em;
}

.hidden {
  display: none;
}
