form {
  border: 1px solid black;
  height: clamp(25px, 50%, 100px);
  width: fit-content;
  display: flex;
  justify-content: center;
  button {
    margin-right: 5px;
  }
  img {
    border: none;
  }
  input:focus {
    outline: none;
  }
}

#search-bar,
.searchBtn {
  border: 1px solid transparent;
  border-radius: 0;
}

.searchBtn img {
  max-width: 70%;
  max-height: 70%;
}

.searchBtn {
  background-color: transparentize($color: #524d4d77, $amount: 0);
}

#search-bar {
  background-color: transparentize($color: #524d4d77, $amount: 0);
  padding-left: 0.75em;
  color: white;
  border: 0px solid;
  width: min(265px, 70%);
}
