form {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

#search-bar,
.searchBtn {
  border: none;
}

#search-bar {
  background-color: transparent;
  border: 0px solid;
  width: min(265px, 70%);
}
