.weather-condition,
.weather-location {
  text-align: center;
}

.temp-container {
  display: flex;
  justify-content: center;
}

.temp-container * {
  margin: 0.15em;
}

//TODO: ADD VALIDATION TO FORM
//TODO: HIDDEN DISPLAY WHEN LOADING PAGE FIRST TIME
