@forward "./base/base.scss";
@forward "./layout/form.scss";
@forward "./layout/weather-display.scss";
@forward "./layout/weather-data.scss";
@forward "./components/buttons.scss";

// * {
//   outline: 1px solid black;
// }

body {
  background-image: url(../images/stars2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 1em;
  display: flex;
  justify-content: center;
}
