@forward "./base/normalize.css";
@forward "./base/base.scss";
@forward "./layout/form.scss";
@forward "./layout/weather-display.scss";
@forward "./layout/forecast.scss";
@forward "./components/buttons.scss";

* {
  outline: 1px solid black;
}

section {
  padding: 1em;
  display: flex;
  justify-content: center;
}
